<?xml version="1.0" encoding="utf-8"?>
<object_interface xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <reason_code>
    <identifier>MVC</identifier>
    <description>Motor vehicle collision</description>
  </reason_code>
</object_interface>
