language: ruby
rvm: 2.4.1
env:
  global:
    - DISPLAY=:99.0
    - CC_TEST_REPORTER_ID=611cda7a6df35c4ca4df08319797b6eba033ca5f61068f90072cb148f71714c8
before_script:
  - mysql -e 'create database incidents_test;'
  - cp config/database.travis.yml config/database.yml
  - cp config/secrets.yml.example config/secrets.yml
  - sh -e /etc/init.d/xvfb start
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build 
script:
  - RAILS_ENV=test bundle exec rake db:create db:schema:load
  - travis_retry bundle exec rspec --fail-fast
after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
branches:
  only:
    - master
notifications:
  email: false
