%h1 Incident History

- if @history.present?
  %table.history
    %thead
      %tr
        %th Occurred
        %th User
        %th Change Type
        %th Change(s) Made
    %tbody
      - @incident.versions.each do |version|
        %tr
          %td= version.created_at.strftime '%A, %B %e, %Y %l:%M %P'
          %td= User.find(version.whodunnit).name
          %td
            - case version.event
            - when 'create'
              initialized the incident report
            - when 'update'
              changed incident report data
          %td
            - if version.changeset.present?
              = render partial: 'changes',
                       locals: { changes: version.changeset }
- else
  No history available for this incident.
