%h1 Incident History

- if @history.present?
  %table
    %thead
      %tr
        %th Occurred
        %th User
        %th Change Type
        %th Change(s) Made
    %tbody
      - @incident.versions.each do |version|
        %tr
          %td= version.created_at.strftime '%A, %B %e, %Y %l:%m %P'
          %td= User.find(version.whodunnit).name
          %td
            - case version.event
            - when 'create'
              initialized the incident report
            - when 'update'
              changed incident report data
          %td
            - changes = version.changeset
            - changes ||= version.next.try(:reify).try(:attributes)
            - if changes.present?
              = render partial: 'changes', locals: { changes:  changes }
            - else
              Put into current state
- else
  No history available for this incident.
