default: &default
  adapter: mysql2
  username: root
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 5000
  encoding: utf8mb4
  collation: utf8mb4_unicode_ci

development:
  <<: *default
  database: incidents_development

test:
  <<: *default
  database: incidents_test
