.date-navigation{
  display: flex;
  justify-content: center;
  button{
    margin: 0 2em;
  }
}

table.incidents td em.incomplete{
  background: firebrick;
  border-radius: 6px;
  color: white;
  padding: 8px 25px;
}

.staff-review{
  background: #d9d9d9;
  border: 2px solid #a59a93;
  border-radius: 6px;
  padding: 5px 2em;
  .data{
    display: flex;
    margin-bottom: 5px;

    .staff-name{
      font-weight: bold;
    }
    .time{
      margin-left: 2em;
      margin-top: 4px;
      display: inline;
      font-size: medium;
    }
  }
  p{
    background: white;
    border-radius: 6px;
    padding: 5px 10px;
  }
}
