.date-navigation,.filters,.claim-search,.batch-export{
  display: flex;
  margin-bottom: 15px;
  justify-content: center;
  a:hover{
    background: inherit;
  }
  button{
    margin: 0 1em;
  }
}

table.incidents{
  .batch-export{
    display: none;
    &:not(th){
      background: yellow;
      input{
        padding: 5px;
      }
    }
  }
  td em.incomplete{
    background: firebrick;
    border-radius: 6px;
    color: white;
    padding: 8px 25px;
  }
}

.staff-review{
  background: #d9d9d9;
  border: 2px solid #a59a93;
  border-radius: 6px;
  margin-top: 10px;
  padding: 5px 2em;
  .data{
    display: flex;
    margin-bottom: 5px;

    .staff-name{
      font-weight: bold;
    }
    .time{
      margin-left: 2em;
      margin-top: 7px;
      display: inline;
      font-size: small;
    }
  }
  .text{
    p{ margin: 0; }
    background: #ebebeb;
    border-radius: 6px;
    margin-bottom: 10px;
    padding: 5px 10px;
  }
}

form.new-review, form.edit-review{
  display: block;
  &.edit-review{ display: none; }
  font-size: medium;
  margin-top: 10px;
  .field textarea{
    border-radius: 6px;
    height: 4em;
    padding: 5px;
    width: 100%;
  }
}

table.history>tbody>tr{
  border-bottom: 2px solid lightgrey;
  text-align: left;
  vertical-align: top;
  table.changes tr{
    td{
      max-width: 300px;
      min-width: 40px;
    }
  }
}

// For high contrast
option{
  color: black;
  background: white;
}

.panel-body hr{
  border-top: 1px solid #aaa;
}

form .field .example{
  color: grey;
  display: inline;
  font-style: italic;
  &::before{
    content: '( ';
  }
  &::after{
    content: ' )';
  }
}
