.date-navigation{
  .prev-next{
    a.prev{ float: left; }
    a.next{ float: right; }
  }
  .switch{
    a{ margin: 0 auto; }
  }
}

table.incidents td em.incomplete{
  background: firebrick;
  border-radius: 6px;
  color: white;
  padding: 8px 25px;
}
