$body-background: #cdacac;
$main-panel-background: #f8f8f8;
$border-color: #a59a93;
$thead-background: #ece3cb;

@mixin default-borders($width) {
  border: $width solid $border-color;
  border-radius: 8px;
}

body{
  // ref: https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
  .a11y-read{
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); // IE6, IE7
    clip: rect(1px, 1px, 1px, 1px);
  }

  .center{
    text-align: center;
  }

  background: #cdacac !important;
  font-size: 200% !important;

  .navbar.navbar-default{
    background: #bbbcbf;
    border-bottom: 2px solid $border-color;

    button{
      &.img img{
        height: 20px;
      }
      @include default-borders(2px);
      margin-left: 3px;

      &.navbar-right{
        margin-right: 5px;
      }

      .number-icon{
        background: firebrick;
        border: 1px solid grey;
        border-radius: 50%;
        color: white;
        display: inline;
        margin-left: 3px;
        padding: 5px 8px;
        text-align: center;
        width: 36px;
      }
    }
  }

  #main-panel{
    @include default-borders(3px);
    background: $main-panel-background;
    margin: 1em;

    a:hover{
      background-color: inherit;
    }

    h1,h2{
      text-align: center;
      margin-bottom: 1em;
    }

    button{
      @include default-borders(1px);

      &.delete{
        background: #e4d2d2;
      }
    }

    span.glyphicon{
      font-size: large;
      &.glyphicon-ok{ color: green; }
      &.glyphicon-remove{ color: red; }
    }

    .info p{
      @include default-borders(2px);
      padding: 3px 0;
      text-align: center;

      &.notice{
        background: #b5e8ce;
      }
      &.alert,&.errors{
        background: #e8b5b5;
      }
    }

    table{
      margin: 10px auto;
      thead{
        background: $thead-background;
      }
      td,th{
        text-align: center;
      }
      td{
        padding: 5px;
      }
      th{
        padding: 5px 10px;
      }
    }
  }
}
